.ts-campaign-btn-group {
  @media (max-width: 1200px) {
    width: 100% !important;
    justify-content: center !important;
  }
}

.ts-campaing-main-group {
  display: flex;
  gap: 36px;
  text-align: center;

  @media (max-width: 768px) {
    text-align: start;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .ts-campaign-stats-card {
    border-radius: 13px;
    padding: 12px;
    background-color: white;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37);
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37);
    .ts-fs-7 {
      font-size: 11px;
    }
  }
}

.dropdown-toggle {
  &::after {
    display: none;
  }
}
