.ts-campaign-wrapper {
  @media (min-width: 768px) {
    overflow: hidden;
    border-radius: 0.875rem;
    background-color: white;
    &__body {
      padding: 2rem 3.5rem;
    }
  }
}

.ts-campaign-details-heading {
  font-size: clamp(15px, 3vw, 18px);
}

.ts-filter-select {
  border: 0;
  border-radius: 0;
  padding-inline: 0.5rem;
  padding-right: 2rem;

  color: #707070 !important;
  &:focus {
    box-shadow: none;
  }

  @media (min-width: 1401px) {
    border-bottom: 1px solid #707070;
  }
}

/* modifications */

.campaign-item {
  background-color: red;
}
