.ts-btn {
  font-size: 15px;
  padding: 0.5rem 2rem;
  display: inline-block;
  text-decoration: none;
  &--rounded {
    border-radius: 7px;
  }

  transition-property: color, background-color, border;
  transition-duration: 300ms;
  transition-timing-function: ease-in-out;
  @include lg-down {
    padding: 0.5rem 2.5rem;
  }
  &--sm {
    font-size: 1.125rem;
    line-height: 100%;
    padding: 5px 14px !important;
    font-size: 13px;

    svg {
      width: 11px;
    }
  }
  &--md {
    font-size: 13px;
    line-height: 120%;
    padding: 7px 20px !important;
    font-size: 13px;
  }
  // &--xs {
  //   font-size: 1.125rem;
  //   line-height: 100%;
  //   padding-block: 14px;
  // }

  &__primary {
    background-color: $color-primary !important;
    border: 1px solid $color-primary !important;
    color: $color-white !important;

    &--add-user {
      min-height: 2.625rem;
    }
    .ts-primary-arrow {
      svg path {
        stroke: white;
      }
    }
    &:hover {
      background-color: transparent !important;
      color: $color-primary !important;
      svg path {
        stroke: $color-primary;
      }
    }
  }
  &__dark-gray {
    background-color: $color-gray-3 !important;
    border: 1px solid $color-gray-3 !important;
    color: $color-white !important;
    &:hover {
      background-color: transparent !important;
      color: $color-gray-3 !important;
      svg path {
        stroke: $color-gray-3;
      }
    }
  }
  &__dark-gray-2 {
    background-color: $color-gray-4 !important;
    border: 1px solid $color-gray-4 !important;
    color: $color-white !important;
    svg path {
      stroke: white;
    }
    &:hover {
      background-color: transparent !important;
      color: $color-gray-4 !important;
      svg path {
        stroke: $color-gray-4;
      }
    }
  }
  &__secondary {
    background-color: #fafafa;
    border: none;
    color: $color-gray-4;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37) inset;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37) inset;
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37) inset;
    &:hover {
      background-color: transparent;
      color: $color-primary;
    }
  }
  &__white {
    background-color: #fff;
    border: none;
    color: $color-gray-3;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37) inset;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37) inset;
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37) inset;
    &:hover {
      background-color: transparent;
      color: $color-primary;
    }
  }

  &__secondary-outline {
    border: 1px solid $color-gray-5;
    background-color: white;
    transition: all 300ms ease-in-out;
    &:hover {
      background-color: $color-gray-9;
    }
  }
  &--radius {
    &-1 {
      border-radius: 7px !important;
    }
  }
}

// .ts-btn {
//   font-size: 1.5625rem;
//   padding: 0.5rem 3rem;
//   display: inline-block;
//   text-decoration: none;

//   transition-property: color, background-color, border;
//   transition-duration: 300ms;
//   transition-timing-function: ease-in-out;
//   @include lg-down {
//     padding: 0.5rem 2.5rem;
//   }
//   &--sm {
//     font-size: 1.125rem;
//     line-height: 100%;
//     padding-block: 14px;
//   }
//   &-primary {
//     background-color: $gray-color-5 !important;
//     border: 1px solid $gray-color-5 !important;
//     color: $white !important;
//     &:hover {
//       background-color: transparent !important;
//       color: $gray-color-5 !important;
//       svg path {
//         stroke: $gray-color-5;
//       }
//     }
//   }
//   &-secondary {
//     background-color: $primary-color-1 !important;
//     border: 1px solid $primary-color-1 !important;
//     color: $white !important;
//     &:hover {
//       background-color: transparent ;
//       color: $primary-color-1 !important;
//     }
//   }
//   &-outline {
//     &-primary {
//       background-color: transparent;
//       border: 1px solid $gray-color-5;
//       color: $gray-color-5;
//       &:hover {
//         background-color: $gray-color-5;
//         color: $white;
//       }
//     }
//   }

//   &--sm-lg {
//     @include md-down {
//       width: 283px !important;
//       max-width: 100% !important;
//     }
//   }
// }
