.ts {
  &-text {
    &-primary {
      color: $color-primary;
      &-light {
        color: $color-primary-light;
      }
    }
    &-danger {
      color: $color-danger;
    }

    &-gray {
      &-1 {
        color: $color-gray-1;
      }
      &-2 {
        color: $color-gray-2;
      }
      &-3 {
        color: $color-gray-3;
      }
      &-4 {
        color: $color-gray-4;
      }
      &-5 {
        color: $color-gray-5;
      }
      &-6 {
        color: $color-gray-6;
      }
      &-7 {
        color: $color-gray-7;
      }
      &-8 {
        color: $color-gray-8;
      }
      &-9 {
        color: $color-gray-9;
      }
      &-10 {
        color: $color-gray-10;
      }
      &-11 {
        color: $color-gray-11;
      }
    }
  }
  &-bg {
    &-primary {
      background-color: $color-primary;
      &-light {
        background-color: $color-primary-light;
      }
    }
    &-gray {
      &-1 {
        background-color: $color-gray-1;
      }
      &-2 {
        background-color: $color-gray-2;
      }
      &-3 {
        background-color: $color-gray-3;
      }
      &-4 {
        background-color: $color-gray-4;
      }
      &-5 {
        background-color: $color-gray-5;
      }
      &-6 {
        background-color: $color-gray-6;
      }
      &-7 {
        background-color: $color-gray-7;
      }
      &-8 {
        background-color: $color-gray-8;
      }
    }
  }
}
