.progress,
.progress-stacked {
  --bs-progress-height: 1rem;
  --bs-progress-font-size: 0.75rem;
  --bs-progress-bg: var(--bs-secondary-bg);
  --bs-progress-border-radius: var(--bs-border-radius);
  --bs-progress-box-shadow: var(--bs-box-shadow-inset);
  --bs-progress-bar-color: #fff;
  --bs-progress-bar-bg: #00a4b6;
  --bs-progress-bar-transition: width 0.6s ease;
  display: flex;
  height: 13px;
  overflow: hidden;
  background-color: #e7e7e7;
  border-radius: 50rem;
}

$sidebar-width: 262px;
$navbar-height: 69px;
$navbar-height-mobile: 60.39px;
$latout-padding-inline: clamp(1rem, 5vw, 4.5rem);
$latout-padding: 1.5rem $latout-padding-inline;
$latout-padding-mobile: 1rem;

.ts-wrapper-main {
  margin-top: $navbar-height-mobile;
  min-height: calc(100vh - $navbar-height-mobile);
  /* 991px to 1200px */
  @media (min-width: 1201px) {
    margin-left: calc($sidebar-width);
    margin-top: $navbar-height;
    min-height: calc(100vh - $navbar-height);
  }
}

.ts-page {
  &-Addons,
  &-PlanCards,
  &-plans {
    background-color: white;
  }
}

@media (max-width: 991px) {
  .ts-page-CampaignsDetails,
  .ts-page-Campaigns {
    background-color: white;
  }
}

.ts-wrapper-head {
  padding: $latout-padding;

  &__main {
    max-width: 1000px;
    margin-inline: auto;
  }
  &--light {
    background-color: white;
    border-bottom: 1px solid #dfdfdf;
  }
  @media (max-width: 450px) {
    padding: $latout-padding-mobile !important;
  }
}
.ts-wrapper-body {
  padding: $latout-padding;
  max-width: calc(1000px + calc(2 * clamp(1rem, 5vw, 4.5rem)));
  margin: auto;
  @media (max-width: 767px) {
    background-color: white;
  }
  @media (max-width: 450px) {
    padding: $latout-padding-mobile;
  }
}

.ts-sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: $sidebar-width;
  height: 100vh;
  padding: 2rem 1.5rem;
  background-color: white;
  z-index: 1000;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.16);

  &__list {
    display: flex;
    flex-direction: column;
    gap: 14px;
  }
  &__link {
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: $color-gray-4;
    padding-block: 8px;
    font-size: 1.0625rem; //17px
    &.ts-link-active,
    &.router-link-active {
      color: $color-primary;
      position: relative;
      font-family: "Greycliff CF Demi";
      font-weight: 600 !important;
      span {
        font-weight: 600 !important;
      }
      &::before {
        content: "";
        position: absolute;
        left: -1.5rem;
        top: 0;
        width: 8px;
        height: 100%;
        background-color: $color-primary;
        border-radius: 50rem;
        transform: translateX(-50%);
      }

      svg {
        fill: $color-primary;
        path {
          fill: $color-primary;
        }
        // stroke: $color-primary;
      }
    }

    &.notification {
      &::after {
        content: "";
        position: absolute;
        left: 2px;
        top: 9px;
        width: 9px;
        height: 9px;
        background-color: #cf5555;
        border-radius: 50rem;
        transform: translateX(-50%);
        border: 2px solid white;
      }
    }
  }
  /* 991px to 1200px */
  @media (max-width: 1201px) {
    transform: translateX(-100%);
    // top: $navbar-height-mobile;
    top: 0;
    transition: transform 300ms ease-in-out;
    height: 100vh;
    z-index: 1001; /* was 10000 */
    &.active-mobile {
      transform: translateX(0);
    }
  }

  /* Media query for tablets (landscape and portrait) */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    /* Styles specific to tablets */
    padding-bottom: 6.5rem;
  }
}

.ts-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid #dfdfdf;
  z-index: 1001;
  /* 991px to 1200px */
  @media (min-width: 1201px) {
    padding-left: calc($sidebar-width);
    z-index: 1000;
  }
  &__main {
    padding-block: 1.0625rem;
    padding-inline: $latout-padding-inline;
  }
}
.ts-user__profile {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
}

.ts-tag {
  line-height: 100%;
  padding: 2px 9px;
  border-radius: 3px;
  &-success {
    background-color: #26c374;
    color: white;
  }
}

.ts-card {
  border-radius: 0.75rem;
  &--sm {
    padding: 0.625rem 1rem;
  }
  &__white {
    background-color: white;
  }
}

// Progress
.ts-progress-circular {
  width: 90px;
  height: 90px;
  font-size: 30px;
  color: #fff;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  // background: #07070c;
  text-align: center;
  line-height: 82px;
}

.ts-progress-circular::after {
  content: "%";
}

.ts-progress-circular .title {
  position: relative;
  z-index: 100;
}

.ts-progress-circular .overlay {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  // background-color: $color-gray-6;
}

.ts-progress-circular .left,
.ts-progress-circular .right {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border: 6px solid $color-primary;
  border-radius: 100px 0px 0px 100px;
  border-right: 0;
  transform-origin: right;
}

.ts-progress-circular .left {
  animation: load1 1s linear forwards;
}

.ts-progress-circular:nth-of-type(2) .right,
.ts-progress-circular:nth-of-type(3) .right {
  animation: load2 0.5s linear forwards 1s;
}

.ts-progress-circular:last-of-type .right,
.ts-progress-circular:first-of-type .right {
  animation: load3 0.8s linear forwards 1s;
}

@keyframes load1 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

@keyframes load2 {
  0% {
    z-index: 100;
    transform: rotate(180deg);
  }

  100% {
    z-index: 100;
    transform: rotate(270deg);
  }
}

@keyframes load3 {
  0% {
    z-index: 100;
    transform: rotate(180deg);
  }

  100% {
    z-index: 100;
    transform: rotate(315deg);
  }
}

.ts-nav-tabs-wrapper {
  .nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.4375rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: #989898;
    --bs-nav-link-hover-color: #00a4b6;
  }
  .nav-pills {
    --bs-nav-pills-border-radius: 50rem;
    --bs-nav-pills-link-active-color: #fff;
    --bs-nav-pills-link-active-bg: #00a4b6;

    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37) inset;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37) inset;
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37) inset;
    border-radius: 50rem;
    padding: 0.375rem;
  }
  .nav-item {
    width: 160px;
    .nav-link {
      width: 100%;
    }
    /* @media (max-width: 1200px) {
      width: 12vw;
    }
    @media (max-width: 991px) {
      width: 17.5vw;
    }
    @media (max-width: 767px) {
      width: 21vw;
    }*/
    @media (max-width: 575px) {
      width: 105px;
      .nav-link {
        padding-inline: 0.4rem !important;
      }
    }
  }

  .campaign-nav-item {
    width: 160px;
    .nav-link {
      width: 100%;
    }
    @media (max-width: 1200px) {
      width: 12vw;
    }
    @media (max-width: 991px) {
      width: 17.5vw;
    }
    @media (max-width: 767px) {
      width: 20vw;
    }
    @media (max-width: 575px) {
      /* width: 105px;*/
      .nav-link {
        padding-inline: 0.4rem !important;
        font-size: min(3.5vw, 15px);
      }
    }
  }
}

.ts-search-wrapper {
  position: relative;
  min-width: 450px;
  .btn-search {
    position: absolute;
    left: 1.375rem;
    top: 50%;
    transform: translateY(-50%);
  }

  .form-control {
    padding-left: 3.75rem;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37) inset;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37) inset;
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37) inset;
    border: 0;
    background-color: #fafafa;
    font-size: 15px;

    padding-block: 7.8px;
  }
}

.dropdown-menu {
  background-color: white;
  border: 0;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.16);
  padding: 0;
  li {
    .dropdown-item {
      padding-block: 10px;
    }
    &:not(:last-child) {
      border-bottom: 1px solid #ebebeb;
    }
  }
}

.swiper-pagination-bullet {
  // height: 5px !important;
  // width: 5px !important;
  cursor: pointer !important;
  &-active {
    background-color: #777777 !important;
    border-radius: 50rem !important;
    width: 1.125rem !important;
  }
}

.ts-file-pound-2 {
  .filepond--wrapper .filepond--drop-label {
    border-radius: 0.8125rem !important;
  }
}

.ts-billing-accordion-wrapper {
  .accordion {
    border-radius: 13px;
    overflow: hidden !important;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23707070' stroke-linecap='round' stroke-width='2' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23707070' stroke-linecap='round' stroke-width='2' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");

    &-button {
      &::after {
        background-size: 16px 16px;
      }
    }
  }

  .accordion-button:focus {
    box-shadow: none;
  }
  .accordion-button:not(.collapsed) {
    color: $color-gray-3;
    background-color: transparent;
  }
}

.ts-modal-addons,
.ts-modal-pricing {
  .modal-xl {
    --bs-modal-width: 992px;
  }

  .modal-dialog {
    @media (max-width: 1200px) {
      max-width: 100%;
      width: 100%;
      padding-inline: 1rem;
    }
  }
}

.ts-form-check-input--switch {
  background-color: #8a8a8a;
  width: 45px !important;
  height: 21px !important;
  border-color: #8a8a8a;
  --bs-form-switch-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") !important;
  &:focus {
    box-shadow: none;
  }
  &:checked {
    background-color: $color-primary;
    border-color: $color-primary;
  }
}

.ts-check-btn-group {
  .btn-primary {
    background-color: #fff;
    border: none;
    color: #505050;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37) inset;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37) inset;
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37) inset;
    height: 35px;
    &:hover {
      color: $color-white;
      background-color: $color-primary;
      border-color: $color-primary;
    }
  }
  .btn-check:checked + .btn-primary,
  .btn-primary.active,
  .btn-primary.show,
  .btn-primary:first-child:active,
  :not(.btn-check) + .btn-primary:active {
    color: $color-white;
    background-color: $color-primary;
    border-color: $color-primary;
  }
}

.vue-pincode-input-wrapper .vue-pincode-input.default {
  width: 56px;
  height: 56px;
  border: none;
  background-color: #ebebeb;
  border-radius: 10px;

  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11) inset;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11) inset;
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.11) inset;
}

.swiper-pagination-bullet {
  margin-inline: 0.125rem !important;
}

.form-check-input {
  &:focus {
    box-shadow: none;
  }
  &:checked {
    background-color: $color-primary;
    border-color: $color-primary;
  }
}

.apexcharts-series path {
  stroke: $color-primary !important;
  stroke-width: 6px !important;
}

.ts-input-group-icon {
  position: relative;

  .ts-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0.7rem;
    top: 50%;
    transform: translateY(-50%);
  }
}

.dropdown-menu {
  overflow: hidden;
}

.ts-object-fit-cover {
  object-fit: cover;
}

.video-js .vjs-big-play-button {
  font-size: 2em !important;

  height: 2rem !important;
  width: 2rem !important;

  border: 0.06666em solid #fff;
  background-color: #2b333f;
  background-color: rgba(43, 51, 63, 0.7);
  border-radius: 50% !important;
  transition: all 0.4s;
  margin: 0 !important;

  transform: translate(-50%, -50%);
}

.filepond--root .filepond--list-scroller {
  margin: 0 !important;
}

.ts-form-select-padding {
  padding: 10px 13px !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: $color-primary;
}

.ts-form-2-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;

  @media (max-width: 1200px) {
    grid-template-columns: repeat(1, 1fr);
    gap: 2.0625rem;
  }

  @media (min-width: 1201px) {
    gap: clamp(2rem, 8vw, 8.125rem);

    &--border {
      &::after {
        content: "";
        position: absolute;
        left: calc(50% - 0.5px);
        top: 0;
        width: 1px;
        height: 100%;
        background-color: #dcdcdc;
      }
    }
  }

  &--border {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 1.5rem;
    background-color: #ffffff;
  }
  &--transparent {
    border: none;
    border-radius: 0;
    padding: 0;
    background-color: #ffffff00;
  }

  &__left {
    margin-bottom: 2rem;
  }

  // .form-label {
  //   display: block;
  //   margin-bottom: 0.5rem;
  // }

  .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .form-select {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .ts-input-group-icon {
    position: relative;

    .form-control {
      padding-right: 2.5rem;
    }

    .ts-icon {
      position: absolute;
      right: 0.75rem;
      top: 50%;
      transform: translateY(-50%);
      pointer-events: none;
    }
  }
  .ts-form-control-2,
  .ts-form-select-2 {
    font-size: 15px;
    padding-block: 7.75px;
    box-shadow: 0 0 2px #0000005e inset;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37) inset;
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37) inset;
    border: none;
  }
}

.ts-campaign-details-wrapper {
  padding: 0;

  overflow: hidden;
  border-radius: 0.875rem;
  background-color: white;
  @media (min-width: 768px) {
  }
  &__body {
    max-width: calc(1000px + 2 * clamp(1rem, 5vw, 4.5rem));
    margin: auto;
    @media (min-width: 768px) {
      padding: 2rem 3.5rem;
    }
  }
}

.ts-voucher-video-container {
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
