@import './variables';

$fileUploaderHeightMd: 6.875rem;
$fileUploaderHeightMd-sm: 5.1875rem;
$fileUploaderHeightSm: 4rem;

.filepond--wrapper {
  min-height: $fileUploaderHeightMd !important;
  border-radius: 0.4375rem;
  .filepond--credits {
    display: none;
  }

  .filepond--drop-label {
    background-color: white;
    border-radius: 0.4375rem;
    min-height: $fileUploaderHeightMd !important;
    border: 1px dashed $color-gray-5;

    @media (max-width: 575px) {
      min-height: $fileUploaderHeightMd-sm !important;
    }
  }

  .filepond--list {
    margin-top: 1rem;
  }
  .filepond--item {
    margin-inline: 0;
  }

  .filepond--drop-label label {
    text-align: start;
    font-size: 15px;

    span {
      line-height: 120%;
    }
  }
  .ts-fs-8 {
    font-size: 0.8125rem !important;
  }

  .ts-fs-9 {
    font-size: 0.6875rem;
  }
}

.ts-file-upload-sm {
  .filepond--wrapper {
    min-height: $fileUploaderHeightSm !important;

    .filepond--drop-label {
      padding: 12px 10px;
      min-height: $fileUploaderHeightSm !important;
      border: none;
      box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37) inset;
      -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37) inset;
      -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37) inset;
    }

    .ts-text-gray-primary {
      color: $color-primary;
    }
    .filepond--drop-label {
      justify-content: start;
      label {
        span {
          line-height: 110%;
        }
      }
    }

    .ts-fs-8 {
      font-size: 0.8125rem !important;
    }
  }
}
