.ts-form-control,
.ts-form-select {
  background-color: #efefef !important;
  -webkit-text-fill-color: #646464 !important;
  padding-inline: 1.25rem !important;

  &:focus {
    border-color: #00a4b6 !important;
    box-shadow: none !important;
  }
}

.form-label {
  margin-bottom: 2px;
}
.ts-form-control-2,
.ts-form-select-2 {
  font-size: 15px;
  padding-block: 7.75px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37) inset;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37) inset;
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37) inset;
  border: none;

  &::placeholder {
    color: $color-gray-8;
  }
  &:focus {
    // border: 1px solid #00a4b6;
    box-shadow: 0px 0px 2px 0px rgba(0, 164, 182) inset;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 164, 182) inset;
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 164, 182) inset;
  }
}
.ts-form-control-3,
.ts-form-select-3 {
  font-size: 15px;
  padding: 14.5px 1rem;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37) inset;
  -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37) inset;
  -moz-box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.37) inset;
  border: none;
  border-radius: 13px;
  &::placeholder {
    color: $color-gray-6;
  }
  &:focus {
    // border: 1px solid #00a4b6;
    box-shadow: 0px 0px 2px 0px rgba(0, 164, 182) inset;
    -webkit-box-shadow: 0px 0px 2px 0px rgba(0, 164, 182) inset;
    -moz-box-shadow: 0px 0px 2px 0px rgba(0, 164, 182) inset;
  }
}

.ts-form-control-textarea-2 {
  padding: 0.625rem 0.75rem;
}

.ts-form-control {
  line-height: 100%;
  padding: 8px 0.8125rem !important;
  &--lg {
    font-size: 15px;
    padding-block: 10px !important;
  }
}

.ts-form-select {
  &--sm {
    font-size: 0.8125rem;
    padding: 1px 10px !important;
  }
  &--team {
    font-size: 0.8125rem;
    padding: 1px 10px !important;
  }
}
// //   form
// .ts-contact {
//   .ts-form-control-group {
//     background-color: #ebebeb;
//     border-radius: 50rem;

//     .ts-phone {
//       padding-right: 2.2rem !important;
//     }

//     #tsPhone {
//       padding-left: 0.2rem !important;
//     }

//     .form-control-lg,
//     .form-control,
//     .form-select {
//       border: none !important;

//       &:focus {
//         box-shadow: none !important;
//       }
//     }
//   }
//   .form-control-lg,
//   .form-control,
//   .form-select {
//     font-size: clamp(15px, 3.5vw, 18px);
//     min-height: 43px;
//     &::placeholder {
//       font-size: clamp(15px, 3.5vw, 18px);
//     }

//     &:focus {
//       box-shadow: none !important;
//     }
//   }

//   &__content {
//     position: relative;
//     z-index: 2;
//   }

//   &-form-container__header {
//     max-width: 380px;
//     margin: auto;
//   }

//   .ts-bg {
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: clamp(800px, 80vw, 900px);
//   }

//   &-form-container {
//     background-color: white;
//     max-width: 476px;
//     border-radius: 28px;
//     padding: 40px 20px;
//   }

//   .form-control,
//   .form-select {
//     background-color: #ebebeb;
//     -webkit-text-fill-color: #646464 !important;
//     padding-inline: 1.25rem !important;

//     &:focus {
//       border-color: #00a4b6 !important;
//       box-shadow: none !important;
//     }
//   }

//   .ts-textarea {
//     border-radius: 1.25rem;
//   }

//   .ts-custom-email-input {
//     position: relative;

//     .form-control {
//       padding-right: 8rem !important;
//     }

//     .ts-btn {
//       position: absolute;
//       top: 50%;
//       transform: translateY(-50%);
//       right: 4px;
//       font-size: clamp(15px, 3vw, 18px) !important;
//       padding: 0.5rem 0.75rem 0.625rem !important;
//       line-height: 100%;
//       min-width: 118px !important;
//     }
//   }
// }

// form input:-webkit-autofill,
// form input:-webkit-autofill:hover,
// form input:-webkit-autofill:focus,
// form input:-webkit-autofill:active {
//   /* change backgournd  color */
//   -webkit-box-shadow: 0 0 0 30px #ebebeb inset !important;
//   -webkit-text-fill-color: #646464;

//   /* background remain same */
//   transition: background-color 500000s ease-in-out 0s;
//   -webkit-text-fill-color: #646464 !important;
// }

// .ts-bg-radius--secondary {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   width: 80% !important;
//   height: 80% !important;
//   padding-top: 80% !important;
//   z-index: -2;
// }

// .ts-bg-radius--primary-secondary--mix {
//   position: absolute;
//   left: 50%;
//   top: 50%;
//   transform: translate(-50%, -50%);
//   width: 50% !important;
//   height: 50% !important;
//   padding-top: 50% !important;
//   z-index: -1;
// }

// @media (max-width: 991px) {
//   .ts-bg-radius--secondary {
//     position: absolute;
//     left: 50%;
//     top: 50%;
//     transform: translate(-50%, -50%);
//     width: 120% !important;
//     height: 100% !important;
//     padding-top: auto !important;
//     z-index: -2;
//   }

//   .ts-bg-radius--primary-secondary--mix {
//     position: absolute;
//     left: 0;
//     top: 50%;
//     transform: translate(20%, -20%);
//     width: 60% !important;
//     height: 60% !important;
//     padding-top: 60% !important;
//     z-index: -1;
//   }
// }
// .form-check {
//   .ts-form-check-input {
//     margin-top: 5px !important;
//     -webkit-border-radius: 50%;
//     -moz-border-radius: 50%;
//   }
// }
// .ts-form-check-input {
//   border: 1px solid rgb(255, 255, 255) !important;
//   outline: 2px solid #767676 !important;
//   cursor: pointer;
//   background-image: none !important;
//   width: 0.8125rem !important;
//   height: 0.8125rem !important;

//   &:focus {
//     box-shadow: none !important;
//   }
//   padding: 2px !important ;
//   &:checked {
//     background-color: #8e9899 !important;
//   }
// }

// .ts-form-control-tel {
//   &:focus {
//     background-color: rgba(255, 255, 255, 0) !important;
//   }
// }
