// Poppins

/*
@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 100;
  font-display: swap;
  src: url("../../../public/fonts/Poppins/Poppins-ThinItalic.eot");
  src: local("Poppins Thin Italic"), local("Poppins-ThinItalic"),
    url("../../../public/fonts/Poppins/Poppins-ThinItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/Poppins/Poppins-ThinItalic.woff2")
      format("woff2"),
    url("../../../public/fonts/Poppins/Poppins-ThinItalic.woff") format("woff"),
    url("../../../public/fonts/Poppins/Poppins-ThinItalic.ttf")
      format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url("../../../public/fonts/Poppins/Poppins-ExtraLightItalic.eot");
  src: local("Poppins Extra Light Italic"), local("Poppins-ExtraLightItalic"),
    url("../../../public/fonts/Poppins/Poppins-ExtraLightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/Poppins/Poppins-ExtraLightItalic.woff2")
      format("woff2"),
    url("../../../public/fonts/Poppins/Poppins-ExtraLightItalic.woff")
      format("woff"),
    url("../../../public/fonts/Poppins/Poppins-ExtraLightItalic.ttf")
      format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url("../../../public/fonts/Poppins/Poppins-LightItalic.eot");
  src: local("Poppins Light Italic"), local("Poppins-LightItalic"),
    url("../../../public/fonts/Poppins/Poppins-LightItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/Poppins/Poppins-LightItalic.woff2")
      format("woff2"),
    url("../../../public/fonts/Poppins/Poppins-LightItalic.woff") format("woff"),
    url("../../../public/fonts/Poppins/Poppins-LightItalic.ttf")
      format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../../../public/fonts/Poppins/Poppins-Italic.eot");
  src: local("Poppins Italic"), local("Poppins-Italic"),
    url("../../../public/fonts/Poppins/Poppins-Italic.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/Poppins/Poppins-Italic.woff2") format("woff2"),
    url("../../../public/fonts/Poppins/Poppins-Italic.woff") format("woff"),
    url("../../../public/fonts/Poppins/Poppins-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../../../public/fonts/Poppins/Poppins-MediumItalic.eot");
  src: local("Poppins Medium Italic"), local("Poppins-MediumItalic"),
    url("../../../public/fonts/Poppins/Poppins-MediumItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/Poppins/Poppins-MediumItalic.woff2")
      format("woff2"),
    url("../../../public/fonts/Poppins/Poppins-MediumItalic.woff")
      format("woff"),
    url("../../../public/fonts/Poppins/Poppins-MediumItalic.ttf")
      format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../../../public/fonts/Poppins/Poppins-SemiBoldItalic.eot");
  src: local("Poppins Semi Bold Italic"), local("Poppins-SemiBoldItalic"),
    url("../../../public/fonts/Poppins/Poppins-SemiBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/Poppins/Poppins-SemiBoldItalic.woff2")
      format("woff2"),
    url("../../../public/fonts/Poppins/Poppins-SemiBoldItalic.woff")
      format("woff"),
    url("../../../public/fonts/Poppins/Poppins-SemiBoldItalic.ttf")
      format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../../../public/fonts/Poppins/Poppins-BoldItalic.eot");
  src: local("Poppins Bold Italic"), local("Poppins-BoldItalic"),
    url("../../../public/fonts/Poppins/Poppins-BoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/Poppins/Poppins-BoldItalic.woff2")
      format("woff2"),
    url("../../../public/fonts/Poppins/Poppins-BoldItalic.woff") format("woff"),
    url("../../../public/fonts/Poppins/Poppins-BoldItalic.ttf")
      format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 800;
  font-display: swap;
  src: url("../../../public/fonts/Poppins/Poppins-ExtraBoldItalic.eot");
  src: local("Poppins Extra Bold Italic"), local("Poppins-ExtraBoldItalic"),
    url("../../../public/fonts/Poppins/Poppins-ExtraBoldItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/Poppins/Poppins-ExtraBoldItalic.woff2")
      format("woff2"),
    url("../../../public/fonts/Poppins/Poppins-ExtraBoldItalic.woff")
      format("woff"),
    url("../../../public/fonts/Poppins/Poppins-ExtraBoldItalic.ttf")
      format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 900;
  font-display: swap;
  src: url("../../../public/fonts/Poppins/Poppins-BlackItalic.eot");
  src: local("Poppins Black Italic"), local("Poppins-BlackItalic"),
    url("../../../public/fonts/Poppins/Poppins-BlackItalic.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/Poppins/Poppins-BlackItalic.woff2")
      format("woff2"),
    url("../../../public/fonts/Poppins/Poppins-BlackItalic.woff") format("woff"),
    url("../../../public/fonts/Poppins/Poppins-BlackItalic.ttf")
      format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../../../public/fonts/Poppins/Poppins-Thin.eot");
  src: local("Poppins Thin"), local("Poppins-Thin"),
    url("../../../public/fonts/Poppins/Poppins-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/Poppins/Poppins-Thin.woff2") format("woff2"),
    url("../../../public/fonts/Poppins/Poppins-Thin.woff") format("woff"),
    url("../../../public/fonts/Poppins/Poppins-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../../../public/fonts/Poppins/Poppins-Thin.eot");
  src: local("Poppins Thin Latin"), local("Poppins-Thin"),
    url("../../../public/fonts/Poppins/Poppins-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/Poppins/Poppins-Thin.woff2") format("woff2"),
    url("../../../public/fonts/Poppins/Poppins-Thin.woff") format("woff"),
    url("../../../public/fonts/Poppins/Poppins-Thin.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../../../public/fonts/Poppins/Poppins-ExtraLight.eot");
  src: local("Poppins Extra Light"), local("Poppins-ExtraLight"),
    url("../../../public/fonts/Poppins/Poppins-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/Poppins/Poppins-ExtraLight.woff2")
      format("woff2"),
    url("../../../public/fonts/Poppins/Poppins-ExtraLight.woff") format("woff"),
    url("../../../public/fonts/Poppins/Poppins-ExtraLight.ttf")
      format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../../../public/fonts/Poppins/Poppins-Light.eot");
  src: local("Poppins Light"), local("Poppins-Light"),
    url("../../../public/fonts/Poppins/Poppins-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/Poppins/Poppins-Light.woff2") format("woff2"),
    url("../../../public/fonts/Poppins/Poppins-Light.woff") format("woff"),
    url("../../../public/fonts/Poppins/Poppins-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../../../public/fonts/Poppins/Poppins-Regular.eot");
  src: local("Poppins Regular"), local("Poppins-Regular"),
    url("../../../public/fonts/Poppins/Poppins-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/Poppins/Poppins-Regular.woff2") format("woff2"),
    url("../../../public/fonts/Poppins/Poppins-Regular.woff") format("woff"),
    url("../../../public/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../../../public/fonts/Poppins/Poppins-Medium.eot");
  src: local("Poppins Medium"), local("Poppins-Medium"),
    url("../../../public/fonts/Poppins/Poppins-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/Poppins/Poppins-Medium.woff2") format("woff2"),
    url("../../../public/fonts/Poppins/Poppins-Medium.woff") format("woff"),
    url("../../../public/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../../../public/fonts/Poppins/Poppins-SemiBold.eot");
  src: local("Poppins SemiBold"), local("Poppins-SemiBold"),
    url("../../../public/fonts/Poppins/Poppins-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/Poppins/Poppins-SemiBold.woff2") format("woff2"),
    url("../../../public/fonts/Poppins/Poppins-SemiBold.woff") format("woff"),
    url("../../../public/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../../../public/fonts/Poppins/Poppins-Bold.eot");
  src: local("Poppins Bold"), local("Poppins-Bold"),
    url("../../../public/fonts/Poppins/Poppins-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/Poppins/Poppins-Bold.woff2") format("woff2"),
    url("../../../public/fonts/Poppins/Poppins-Bold.woff") format("woff"),
    url("../../../public/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url("../../../public/fonts/Poppins/Poppins-ExtraBold.eot");
  src: local("Poppins ExtraBold"), local("Poppins-ExtraBold"),
    url("../../../public/fonts/Poppins/Poppins-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/Poppins/Poppins-ExtraBold.woff2") format("woff2"),
    url("../../../public/fonts/Poppins/Poppins-ExtraBold.woff") format("woff"),
    url("../../../public/fonts/Poppins/Poppins-ExtraBold.ttf")
      format("truetype");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../../../public/fonts/Poppins/Poppins-Black.eot");
  src: local("Poppins Black"), local("Poppins-Black"),
    url("../../../public/fonts/Poppins/Poppins-Black.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/Poppins/Poppins-Black.woff2") format("woff2"),
    url("../../../public/fonts/Poppins/Poppins-Black.woff") format("woff"),
    url("../../../public/fonts/Poppins/Poppins-Black.ttf") format("truetype");
}

*/
// Greycliff
@font-face {
  font-family: "Greycliff CF";
  src: url("../../../public/fonts/GreycliffCF-Bold.eot");
  src: local("Greycliff CF Bold"), local("GreycliffCF-Bold"),
    url("../../../public/fonts/GreycliffCF-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/GreycliffCF-Bold.woff2") format("woff2"),
    url("../../../public/fonts/GreycliffCF-Bold.woff") format("woff"),
    url("../../../public/fonts/GreycliffCF-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF Medium Oblique";
  src: url("../../../public/fonts/GreycliffCF-MediumOblique.eot");
  src: local("Greycliff CF Medium Oblique"), local("GreycliffCF-MediumOblique"),
    url("../../../public/fonts/GreycliffCF-MediumOblique.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/GreycliffCF-MediumOblique.woff2") format("woff2"),
    url("../../../public/fonts/GreycliffCF-MediumOblique.woff") format("woff"),
    url("../../../public/fonts/GreycliffCF-MediumOblique.ttf")
      format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("../../../public/fonts/GreycliffCF-Light.eot");
  src: local("Greycliff CF Light"), local("GreycliffCF-Light"),
    url("../../../public/fonts/GreycliffCF-Light.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/GreycliffCF-Light.woff2") format("woff2"),
    url("../../../public/fonts/GreycliffCF-Light.woff") format("woff"),
    url("../../../public/fonts/GreycliffCF-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("../../../public/fonts/GreycliffCF-Heavy.eot");
  src: local("Greycliff CF Heavy"), local("GreycliffCF-Heavy"),
    url("../../../public/fonts/GreycliffCF-Heavy.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/GreycliffCF-Heavy.woff2") format("woff2"),
    url("../../../public/fonts/GreycliffCF-Heavy.woff") format("woff"),
    url("../../../public/fonts/GreycliffCF-Heavy.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF Extra Light Oblique";
  src: url("../../../public/fonts/GreycliffCF-ExtraLightOblique.eot");
  src: local("Greycliff CF Extra Light Oblique"),
    local("GreycliffCF-ExtraLightOblique"),
    url("../../../public/fonts/GreycliffCF-ExtraLightOblique.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/GreycliffCF-ExtraLightOblique.woff2")
      format("woff2"),
    url("../../../public/fonts/GreycliffCF-ExtraLightOblique.woff")
      format("woff"),
    url("../../../public/fonts/GreycliffCF-ExtraLightOblique.ttf")
      format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF Extra Bold Oblique";
  src: url("../../../public/fonts/GreycliffCF-ExtraBoldOblique.eot");
  src: local("Greycliff CF Extra Bold Oblique"),
    local("GreycliffCF-ExtraBoldOblique"),
    url("../../../public/fonts/GreycliffCF-ExtraBoldOblique.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/GreycliffCF-ExtraBoldOblique.woff2")
      format("woff2"),
    url("../../../public/fonts/GreycliffCF-ExtraBoldOblique.woff")
      format("woff"),
    url("../../../public/fonts/GreycliffCF-ExtraBoldOblique.ttf")
      format("truetype");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF Extra";
  src: url("../../../public/fonts/GreycliffCF-ExtraLight.eot");
  src: local("Greycliff CF Extra Light"), local("GreycliffCF-ExtraLight"),
    url("../../../public/fonts/GreycliffCF-ExtraLight.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/GreycliffCF-ExtraLight.woff2") format("woff2"),
    url("../../../public/fonts/GreycliffCF-ExtraLight.woff") format("woff"),
    url("../../../public/fonts/GreycliffCF-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF Extra";
  src: url("../../../public/fonts/GreycliffCF-ExtraBold.eot");
  src: local("Greycliff CF Extra Bold"), local("GreycliffCF-ExtraBold"),
    url("../../../public/fonts/GreycliffCF-ExtraBold.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/GreycliffCF-ExtraBold.woff2") format("woff2"),
    url("../../../public/fonts/GreycliffCF-ExtraBold.woff") format("woff"),
    url("../../../public/fonts/GreycliffCF-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF Bold Oblique";
  src: url("../../../public/fonts/GreycliffCF-BoldOblique.eot");
  src: local("Greycliff CF Bold Oblique"), local("GreycliffCF-BoldOblique"),
    url("../../../public/fonts/GreycliffCF-BoldOblique.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/GreycliffCF-BoldOblique.woff2") format("woff2"),
    url("../../../public/fonts/GreycliffCF-BoldOblique.woff") format("woff"),
    url("../../../public/fonts/GreycliffCF-BoldOblique.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF Light Oblique";
  src: url("../../../public/fonts/GreycliffCF-LightOblique.eot");
  src: local("Greycliff CF Light Oblique"), local("GreycliffCF-LightOblique"),
    url("../../../public/fonts/GreycliffCF-LightOblique.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/GreycliffCF-LightOblique.woff2") format("woff2"),
    url("../../../public/fonts/GreycliffCF-LightOblique.woff") format("woff"),
    url("../../../public/fonts/GreycliffCF-LightOblique.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF Demi Bold Oblique";
  src: url("../../../public/fonts/GreycliffCF-DemiBoldOblique.eot");
  src: local("Greycliff CF Demi Bold Oblique"),
    local("GreycliffCF-DemiBoldOblique"),
    url("../../../public/fonts/GreycliffCF-DemiBoldOblique.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/GreycliffCF-DemiBoldOblique.woff2")
      format("woff2"),
    url("../../../public/fonts/GreycliffCF-DemiBoldOblique.woff") format("woff"),
    url("../../../public/fonts/GreycliffCF-DemiBoldOblique.ttf")
      format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF Demi";
  src: url("../../../public/fonts/GreycliffCF-DemiBold.eot");
  src: local("Greycliff CF Demi Bold"), local("GreycliffCF-DemiBold"),
    url("../../../public/fonts/GreycliffCF-DemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/GreycliffCF-DemiBold.woff2") format("woff2"),
    url("../../../public/fonts/GreycliffCF-DemiBold.woff") format("woff"),
    url("../../../public/fonts/GreycliffCF-DemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("../../../public/fonts/GreycliffCF-Thin.eot");
  src: local("Greycliff CF Thin"), local("GreycliffCF-Thin"),
    url("../../../public/fonts/GreycliffCF-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/GreycliffCF-Thin.woff2") format("woff2"),
    url("../../../public/fonts/GreycliffCF-Thin.woff") format("woff"),
    url("../../../public/fonts/GreycliffCF-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("../../../public/fonts/GreycliffCF-Medium.eot");
  src: local("Greycliff CF Medium"), local("GreycliffCF-Medium"),
    url("../../../public/fonts/GreycliffCF-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/GreycliffCF-Medium.woff2") format("woff2"),
    url("../../../public/fonts/GreycliffCF-Medium.woff") format("woff"),
    url("../../../public/fonts/GreycliffCF-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF Thin Oblique";
  src: url("../../../public/fonts/GreycliffCF-ThinOblique.eot");
  src: local("Greycliff CF Thin Oblique"), local("GreycliffCF-ThinOblique"),
    url("../../../public/fonts/GreycliffCF-ThinOblique.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/GreycliffCF-ThinOblique.woff2") format("woff2"),
    url("../../../public/fonts/GreycliffCF-ThinOblique.woff") format("woff"),
    url("../../../public/fonts/GreycliffCF-ThinOblique.ttf") format("truetype");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF";
  src: url("../../../public/fonts/GreycliffCF-Regular.eot");
  src: local("Greycliff CF"), local("GreycliffCF-Regular"),
    url("../../../public/fonts/GreycliffCF-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/GreycliffCF-Regular.woff2") format("woff2"),
    url("../../../public/fonts/GreycliffCF-Regular.woff") format("woff"),
    url("../../../public/fonts/GreycliffCF-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Greycliff CF Oblique";
  src: url("../../../public/fonts/GreycliffCF-RegularOblique.eot");
  src: local("Greycliff CF Oblique"), local("GreycliffCF-RegularOblique"),
    url("../../../public/fonts/GreycliffCF-RegularOblique.eot?#iefix")
      format("embedded-opentype"),
    url("../../../public/fonts/GreycliffCF-RegularOblique.woff2")
      format("woff2"),
    url("../../../public/fonts/GreycliffCF-RegularOblique.woff") format("woff"),
    url("../../../public/fonts/GreycliffCF-RegularOblique.ttf")
      format("truetype");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

body {
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}
.ts {
  &-fs {
    &-1 {
      font-size: $ts-fs-1;
      &--important {
        font-size: $ts-fs-1 !important;
      }
    }
    &-2 {
      font-size: $ts-fs-2;
      &--important {
        font-size: $ts-fs-2 !important;
      }
    }
    &-3 {
      font-size: $ts-fs-3;
      &--important {
        font-size: $ts-fs-3 !important;
      }
    }
    &-4 {
      font-size: $ts-fs-4;

      &--important {
        font-size: $ts-fs-4 !important;
      }
    }
    &-5 {
      font-size: $ts-fs-5;
      &--important {
        font-size: $ts-fs-5 !important;
      }
    }
    &-6 {
      font-size: $ts-fs-6;
      &--important {
        font-size: $ts-fs-6 !important;
      }
    }
    &-7 {
      font-size: $ts-fs-7;
      &--important {
        font-size: $ts-fs-7 !important;
      }
    }
    &-8 {
      font-size: $ts-fs-8;
      &--important {
        font-size: $ts-fs-8 !important;
      }
    }

    @media (max-width: 767px) {
      &-md {
        &-6 {
          font-size: 15px;
        }
      }
    }
  }
}
.fw-light {
  font-weight: 300 !important;
}

.ts-font-heading {
  font-family: "Greycliff CF", sans-serif;
}
.fw-regular {
  font-family: "Greycliff CF", sans-serif;
  font-weight: 400 !important;
}
.fw-semibold-heading {
  font-family: "Greycliff CF Demi";
  font-weight: 600 !important;
}

.ts-fw-light {
  font-weight: 300;
}
