// Colors
$color-primary: #00a4b6;
$color-primary-light: #c7f6ff;
$color-white: #fff;
$color-danger: #df6d6d;

$color-gray-1: #383838;
$color-gray-2: #444444;
$color-gray-3: #505050;
$color-gray-4: #535353;
$color-gray-5: #707070;
$color-gray-6: #8f8f8f;
$color-gray-7: #989898;
$color-gray-8: #aeaeae;
$color-gray-9: #f8f8f8;
$color-gray-10: #e0e0e0;
$color-gray-11: #aeaeae;
$color-background: #eeeeee;

// $color-gray-1: #383838;
// $color-gray-1: #444444;
// $color-gray-3: #505050;
// $color-gray-3-ii: #515151;
// $color-gray-3-iii: #575757;
// $color-gray-4: #606060;
// $color-gray-4-ii: #626262;
// $color-gray-4-iii: #6C6C6C;
// $color-gray-5: #707070;
// $color-gray-5-ii: #7F7F7F;
// $color-gray-6: #8F8F8F;
// $color-gray-7: #989898;
// $color-gray-8: #AEAEAE;
// $color-gray-9: #F8F8F8;
// $color-gray-9-ii: #FAFAFA;

// Font Sizes

$ts-fs-1: 31px;
$ts-fs-2: 25px;
$ts-fs-3: 22px;
$ts-fs-4: 18px;
$ts-fs-5: 17px;
$ts-fs-6: 15px;
$ts-fs-7: 13px;
$ts-fs-8: 11px;
