.ts-btn {
  &__white {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    color: #495057;
  }

  &__primary {
    background-color: #007bff;
    border: 1px solid #007bff;
    color: #ffffff;
  }

  // &--rounded {
  //   border-radius: 50px;
  // }

  &--rounded.ts-px-10 {
    padding: 0.5rem 2.5rem;
  }
}

.ts-gap-12 {
  gap: 12px;
}
