.height-reduced {
  height: 30px;
  width: 100%;
  background-color: #f8f8f8 !important;
  padding: 10px 8px;
  border-radius: 10px;
  border: 1px solid #d7d7d7;
  gap: "8px";
  outline: none;
}
.add-user-modal-input-container {
  width: 50%;
}

.add-user-modal-input {
  outline: none;
  width: 100%;
  background-color: #f8f8f8 !important;
  padding: 10px 8px;
  border-radius: 10px;
  border: 1px solid #d7d7d7;
  gap: "8px";
}

.add-user-modal-input:focus,
.add-user-modal-input:hover,
.height-reduced:focus,
.height-reduced:hover {
  border: 1px solid #00a4b6 !important;
  background-color: #ffffff;
}
.add-user-modal-input__placeholder {
  color: #434343;
  font-size: 15px;

  text-align: start;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  /*background-color: #00a4b6;*/
  border: 1px solid #00a4b6;
  outline: none;
}

/* controversial 
.ts-btn {
  outline: none;
}*/
.user-dropdown-menu {
  padding: 3px;
  width: 100%;
}
.dropdown-menu {
  --bs-dropdown-min-width: 50px;
}
.teams-dropdown-item:hover,
.teams-dropdown-item:focus {
  background-color: #ececec;
  border-radius: 7px;
  color: #434343;
}
