.ts-btn-close--team {
  background-color: #ed7b7b;
  border: 1px solid #ed7b7b;
  border-radius: 7px;
  width: 25px;
  height: 25px;
}

.ts-btn-change-role {
  background-color: #757575;
  border: 1px solid #757575;
  border-radius: 7px;
  width: 25px;
  height: 25px;

  &:hover {
    background-color: #00a4b6;
    border-color: #00a4b6;
  }
}

.ts-team-table {
  border-radius: 13px;
  border: 1px solid #e9e9e9;
  overflow: hidden;
}

.ts-team-row {
  padding-block: 7px;
  border-bottom: 1px solid #dbdbdb;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: 30% 30% 20% 20%;
  padding-inline: 24px;

  @media (max-width: 767px) {
    grid-template-columns: repeat(3, 1fr);
    padding-inline: 12px;
  }

  &__head {
    background-color: #f8f8f8;
  }

  &__body {
    background-color: white;
  }
}

.ts-form-select--md {
  width: 120px !important;
}

.ts-form-select--team {
  background-color: #00a4b6 !important;
  -webkit-text-fill-color: #ffffff !important;

  option {
    color: white !important;
  }

  --bs-form-select-bg-img: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23ffffff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
}

/* updates */
.margin-left-auto-custom {
  margin-left: auto;
}
.width-100px {
  width: min(110px, 40%);
}
.pointer-cursor {
  cursor: pointer;
}

/* Create a role modal /
.role-form-select {
  margin-left: auto;
  font-size: 13px;
  padding: 4px 6px;
  border-radius: 10px;
  border: 1px solid #d7d7d7;
  background-color: #f8f8f8;
  color: #434343;
  /*option {
    color: #434343;
  }
}

.role-form-select option {
  color: #434343; 
}*/
.funct {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
}
.funct-name {
  font-size: 16px;
}

.funct-desc {
  font-size: 11px;
  font-weight: 300;
}

/* Add user modal */

.fit-content {
  white-space: nowrap;
  text-overflow: ellipsis;
  width: fit-content;
}
@media (max-width: 768px) {
  .text-align-start {
    text-align: start !important;
  }
}

@media (max-width: 415px) {
  .fit-content {
    text-wrap: wrap;
  }
  .width-100px {
    width: 30%;
  }
  .height-reduced {
    padding: 10px 5px;
    gap: "4px";
  }
}
