.ts-redemptions-container {
  max-width: 670px;
  margin: auto;
}
.ts-fs-1-lg {
  font-size: clamp(70px, 6vw, 90px);
  line-height: 100%;
  @media (max-width: 400px) {
    font-size: 50px !important;
  }
}
.ts-creator-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.125rem;
}
.ts-creator-card {
  display: flex;
  align-items: center;
  gap: clamp(9px, 3vw, 12px);
  border-radius: 50rem;
  padding: 0.25rem;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16) inset;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16) inset;
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16) inset;
}

.ts-voucher-card-group {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.0625rem;
  @media (max-width: 767px) {
    gap: 0.25rem;
  }
}
.ts-voucher-card {
  background-color: white;
  border-radius: 10px;
  padding: 30px 0.5rem 1.5rem;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);

  &__img {
    width: 48px;
    @media (max-width: 575px) {
      width: auto;
      height: 28px;
      &--1 {
        height: 24px;
        margin-bottom: 16px !important;
      }
    }
  }
  @media (max-width: 767px) {
    padding: 1rem 0.2rem;
    .ts-fs-7 {
      font-size: 9px;
    }
  }
  &--lg {
    display: flex;
    justify-content: space-between;
    position: relative;

    // box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
    // -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
    // -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
    padding: 0 !important;
    .ts-card-content {
      padding: 1rem;
    }

    @media (min-width: 576px) {
      padding: 0 0 0 1.5rem;
    }
    .ts-voucher-img-main {
      border-radius: 0 10px 10px 0;
    }

    @media (max-width: 575px) {
      .ts-voucher-img-main {
        width: 145px;
      }
      .ts-card-content {
        padding-right: 0.5rem;
      }
    }
    // overflow: hidden;

    .ts-voucher-card__img {
      border-radius: 10px;
    }
    .ts-deco {
      position: absolute;
      top: 8px;
      transform: translate(-50%);

      width: 12px;
      height: calc(100% - 20px);
      @media (max-width: 575px) {
        height: 135px !important;
        overflow: hidden;
      }
      // overflow: hidden;
      &-main {
        display: flex;
        flex-direction: column;
        gap: 4px;

        @media (max-width: 575px) {
          gap: 1.2px;
        }
      }

      span {
        width: 12px !important;
        height: 12px !important;
        border-radius: 50%;
        // border: 2px solid red;
        background-color: white;
        box-shadow: 0px 0 6px 0px rgba(0, 0, 0, 0.16) inset;
        -webkit-box-shadow: 0px 0 6px 0px rgba(0, 0, 0, 0.16) inset;
        -moz-box-shadow: 0px 0 6px 0px rgba(0, 0, 0, 0.16) inset;

        @media (max-width: 575px) {
          width: 10.2px !important;
          height: 10.2px !important;
        }
      }
    }
    .ts-deco--left {
      left: 0;
    }
    .ts-deco--right {
      right: 0;
      transform: translate(50%);
      span {
        box-shadow: none;
      }
    }
  }
}

.ts-number-voucher {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 5px;
    bottom: 0;
    width: 100%;
    height: 3px;
    background-color: #00a4b6;
    border-radius: 50rem;
  }
}

.ts-voucher-text {
  font-size: clamp(26px, 5vw, 34px);
  line-height: 110%;

  @media (max-width: 400px) {
    font-size: 22px !important;
  }
}

.ts-voucher-desc {
  font-size: clamp(11px, 2vw, 15px) !important;
}

.ts-voucher-card--lg {
  position: relative;
  isolation: isolate;

  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
}

.ts-voucher-img-deco-wrapper {
  position: absolute;
  top: -7px;
  left: 0;
  transform: translateX(-9px);
  height: calc(100% + 14px) !important;
  z-index: -1;

  max-width: 80%;
  overflow: hidden;
}
.ts-voucher-img-deco {
  width: 700px;
  height: 100%;
}
