.ts-signin-wrapper {
  background-color: #ebebeb;
  min-height: 100vh;
  padding-inline: 10px;
}
.ts-signing-card {
  background-color: white;
  border-radius: 28px;
  padding: 54px 21px 43px;
  width: 358px;
  max-width: 100%;
}
.ts-form-control {
  background-color: #ebebeb !important;
  -webkit-text-fill-color: #646464 !important;
}
.ts-logo-wrapper {
  margin-bottom: 3.5625rem;
}
