.d-flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.ts-graphs-container {
  position: relative;
  left: -10px;

  .ts-graph-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.ts-btn__secondary-outline {
  padding: 5px 12px;
}
