.ts-payment-plan {
  padding-top: 2.875rem;
}
.ts-btn-collapse {
  svg {
    transition: 300ms ease-in-out;
    transform-origin: center center;
  }
  &.active {
    svg {
      transform: rotate(180deg);
    }
  }
}
