.ts-campaign-card {
  overflow: hidden;
  background-color: white;
  border-radius: 18px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.16);

  &__head {
    img {
      height: 157px;
      object-fit: cover;
      object-position: center;
    }
  }
  &__body {
    padding: 0.75rem 1rem 17px;
    .ts-chat {
      svg {
        width: 16px !important;
        height: auto !important;
      }
    }
    .ts-picture {
      svg {
        width: 18px !important;
        height: auto !important;
      }
    }
    .ts-heartmagnet {
      svg {
        width: 18px !important;
        height: auto !important;
      }
    }
  }
}
