.ts-addon-card {
  padding: clamp(2.375rem, 4.5vw, 3rem) 1.2rem;
  // padding: clamp(1.5rem, 4vw, 2rem);
  // padding: clamp(1rem, 4vw, 2rem);
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
  isolation: isolate;
  height: 100%;
  &__header {
    gap: 22px;
    @media (max-width: 575px) {
      gap: 5px;
    }
  }
  &__img {
    width: clamp(70px, 7vw, 89px);
  }

  &--active {
    position: relative;
    isolation: isolate;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      border: 3px solid #00a4b6;
      border-radius: inherit;
      z-index: -1;
    }
  }
}

.ts-pricing-card {
  &__title {
    font-size: 23px;
    @media (max-width: 991px) {
      font-size: 28px;
    }
  }
  &__btn {
    font-size: 13px;
    @media (max-width: 991px) {
      font-size: 18px;
    }
  }
  &__pricedetails {
    font-size: 11px;
    @media (max-width: 991px) {
      font-size: 15px;
    }
  }
  &__pricing {
    &-currency {
      font-size: 14px;
      @media (max-width: 991px) {
        font-size: 20px;
      }
    }
    &-price {
      font-size: 26px;
      @media (max-width: 991px) {
        font-size: 35px;
      }
    }
    &-month {
      font-size: 11px;
      @media (max-width: 991px) {
        font-size: 14px;
      }
    }
  }
  &__subtitle {
    font-size: 15px;
    @media (max-width: 991px) {
      font-size: 18px;
    }
  }
  &__list {
    font-size: 12px;
    gap: 1rem;

    @media (max-width: 991px) {
      font-size: 15px;
      gap: 0.875rem;
    }
  }
}
.special-offer {
  width: 300px;
}

/* Special offer */

.special-offer .offer-discount {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 100px;
  height: 100px;
  z-index: -1;
}

.special-offer.deg-45 .offer-discount {
  height: 42.3px; /* 100 - 57.5 */
}

.special-offer .offer-discount::before,
.special-offer .offer-discount::before {
  width: 20px; /* 40 x 0,5 */
  height: 5px;
  bottom: -5px;
  left: -37px; /* 40 - 5px */
  transform: skewX(45deg);
}

.special-offer .offer-discount::after {
  width: 5px;
  height: 20px;
  right: -5px;
  top: -37px; /* 40 - 5px */
  transform: skewY(45deg);
  z-index: -1;
}

.special-offer .offer-discount-rotate {
  position: absolute;
  z-index: 1;
  width: 500%;
  left: -200%; /* (width - 100%) / 2 */
  top: 50%;
  height: 40px;
  margin-top: -20px; /* height x -0,5 */
  line-height: 40px; /* same as height, or a little bit more, to compensate font */
  transform: rotate(-45deg);
  font-size: clamp(11px, 3vw, 13px);
  text-align: center;
  background: #00a4b6;
  color: white;
  font-weight: 500;
}

.special-offer.deg-45 .offer-discount-rotate {
  transform: rotate(45deg);
}

.special-offer.deg-45 .offer-discount-rotate strong {
  position: relative;
  right: -14px;
}

.ts-gap-20 {
  gap: 1.25rem;
}
